<!--<page-heading title="{{'ACCESS_DENIED' | translate}}"></page-heading>-->

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="font-bold text-center"><i class="twa twa-lg twa-point-up"></i></h1>
            <h3 class="font-bold text-center">You are not able to make this action</h3>

            <div class="error-desc text-center">
                Please make sure that you have done everything right.
            </div>
        </div>
    </div>
</div>
