<page-heading steps="breadcrumbSteps"></page-heading>

<div class="wrapper wrapper-content animated fadeIn article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">Gift</button>
                        <button class="btn btn-white btn-xs" type="button">3 months</button>
                        <button class="btn btn-white btn-xs" type="button">free</button>
                    </div>
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> {{newsDate}}</span>
                        <h1>
                            {{"NEWS_HEADER" | translate}}
                        </h1>
                    </div>
                    <p>
                       {{"NEWS_P_1" | translate}}
                    </p>
                    <p>
                        {{"NEWS_P_2" | translate}}
                    </p>
                    <p>
                        {{"NEWS_P_3" | translate}}
                    </p>
                    <p>
                        {{"NEWS_P_4" | translate}}
                    </p>
                    <br>
                    <p>
                        {{"SINCERELY_YOURS" | translate}}, <strong>{{"POSTADDICT_TEAM" | translate}}</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
