<!--<page-heading title="{{'NAV_PAYMENT_RESULT' | translate}}"></page-heading>-->

<div class="row animated fadeIn" style="padding-top: 20px;">
    <div class="col-lg-12">
        <h1 class="font-bold text-center">
            <i class="twa twa-3x twa-thumbsup"></i>
        </h1>
        <h3 class="font-bold text-center">
            {{'DASH_SUCCESSFUL_PAYMENT_H' | translate}}
        </h3>

        <div class="error-desc text-center">
            <br/><a ui-sref="dashboard.accounts" class="btn btn-primary m-t">{{'DASH_PAYMENT_BUTTON' | translate}}</a>
        </div>

    </div>
</div>
