<div class="middle-box text-center loginscreen   animated fadeIn"  style="padding-top: 80px; position: relative; margin-top: 10px;">
    <div>

        <h3 style="color: white;">{{'RECOVER_PASSWORD_H' | translate}}</h3>
        <p style="color: white;">{{'RECOVER_PASSWORD_P_1' | translate}}</p>
        <form class="m-t" role="form" ng-submit="vm.recover()">

            <div class="signup">
            <div class="form-group">
                <input type="password" ng-model="vm.password" name="password" class="form-control" placeholder="{{'RECOVER_PASSWORD_INPUT_PASSWORD_PLACEHOLDER' | translate}}" required>
            </div>
            <div class="form-group">
                <input type="password" ng-model="vm.passwordCheck" name="passwordCheck" class="form-control" placeholder="{{'RECOVER_PASSWORD_INPUT_REPEAT_PASSWORD_PLACEHOLDER' | translate}}" required>
            </div>
            <div class="signup">

            <button type="submit" ng-class="{'btn btn-primary block full-width m-b signup' : !vm.sending, 'btn btn-primary block full-width m-b signup disabled' : vm.sending}">{{'RECOVER_PASSWORD_BUTTON' | translate}}</button>
            </div>
            </div>

            <!--<a class="btn btn-sm btn-white btn-block" ui-sref="login">{{'SIGNUP_LOGIN_BUTTON' | translate}}</a>-->
        </form>
        <p class="m-t"> <small style="color: white;">Postaddict.me &copy; 2015</small> </p>
    </div>
</div>

