<page-heading title="{{'SUGGESTED_POSTS_LONG' | translate}}" steps="breadcrumbSteps"></page-heading>

<div class="wrapper wrapper-content animated fadeIn">

    <!-- If account is verified and mustn't pay -->
    <div ng-show="vm.account.isVerified === 1 && (vm.account.shouldPay === 0 || vm.account.shouldPay === 1)">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">

                <div class="col-md-4 col-sm-4">
                    <account-card account="vm.account" user-info="vm.userInfo" confirm-delete-account="vm.confirmDeleteAccount" delete-account="vm.deleteAccount" state="vm.state"></account-card>
                </div>

                <div class="col-md-4 col-sm-4">
                    <suggests-card state="vm.state" account="vm.account"></suggests-card>
                </div>

            </div>
        </div>
        <div class="row" ng-show="vm.showPagination">
            <div class="col-md-12 text-center">
                <pagination-card show-pagination="vm.showPagination" pages="vm.pages" current-range="vm.currentRange" current-page="vm.currentPage" get-by-page="vm.getAccountMediaByPage"></pagination-card>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
                <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="media in vm.suggestedMedias">
                    <suggested-post-card media="media" post-date="vm.postDate" edit-post="vm.editPost" confirm-reject-post="vm.confirmRejectPost" reject-post="vm.rejectPost"></suggested-post-card>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 20px;" ng-hide="vm.suggestedMedias.length > 0">
            <div class="col-lg-12">
                <h1 class="font-bold text-center">
                    <i class="twa twa-3x twa-mailbox-with-no-mail"></i>
                </h1>
                <h3 class="font-bold text-center">
                    {{"THERE_ARE_NO_SUGGESTED_POSTS" | translate}}.
                </h3>

            </div>
        </div>
    </div>

</div>

<!-- Pagination -->
<div style="  left: 0;
              position: absolute;
              right: 0;">
    <div class="row">
        <div class="col-md-12 text-center">
            <pagination-card show-pagination="vm.showPagination" pages="vm.pages" current-range="vm.currentRange" current-page="vm.currentPage" get-by-page="vm.getAccountMediaByPage"></pagination-card>
        </div>
    </div>
</div>
