<div class="wrapper wrapper-content animated fadeIn">

    <!-- If account is not verified yet or rejected -->
    <div class="row" ng-show="account.isVerified == 0 || account.isVerified == 2">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="text-center">
                    <h3 class="font-bold" ng-show="account.isVerified === 0">{{'DASH_ACCOUNTS_ACCOUNT_NOT_VERIFIED' | translate}}</h3>
                    <h3 class="font-bold" ng-show="account.isVerified === 2">{{'DASH_ACCOUNTS_ACCOUNT_REJECTED' | translate}}</h3>
                    <div class="error-desc" ng-show="account.isVerified === 2">
                        {{'DASH_ACCOUNTS_ACCOUNT_REJECTED_ADVICE' | translate}}
                    </div>
                    <br>
                    <div class="col-md-4 col-md-offset-4">
                        <account-card account="account" user-info="vm.userInfo" confirm-delete-account="vm.confirmDeleteAccount" delete-account="vm.deleteAccount" state="vm.state"></account-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- If account is verified and must pay -->
    <div class="row" ng-show="account.isVerified === 1 && account.shouldPay === 2">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="text-center">
                    <br>
                    <div class="col-md-4 col-md-offset-4">
                        <account-card account="account" user-info="vm.userInfo" confirm-delete-account="vm.confirmDeleteAccount" delete-account="vm.deleteAccount" state="vm.state"></account-card>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <br>

    <!-- If account is verified and mustn't pay -->
    <div ng-show="account.isVerified === 1 && (account.shouldPay === 0 || account.shouldPay === 1)">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">

                <div class="col-md-4 col-sm-4">
                    <account-card account="account" user-info="vm.userInfo" confirm-delete-account="vm.confirmDeleteAccount" delete-account="vm.deleteAccount" state="vm.state"></account-card>
                </div>

                <div class="col-md-4 col-sm-4" id="spinnerDiv">
                    <add-post-card add-new-post="vm.addNewPost" show-choose-methods="vm.showChooseMethods" upload-by-url="vm.uploadByUrl"
                            upload="vm.upload" uploading-from-url="vm.uploadingFromUrl" uploading-from-storage="vm.uploadingFromStorage"
                            upload-from-url-button-text="vm.uploadFromUrlButtonText" upload-from-storage-button-text="vm.uploadFromStorageButtonText"
                            uploading="vm.uploading" obj="obj" hide-upload-by-url="false"
                            pattern-formats="'image/*,video/*'" accept-formats="'.jpeg,.jpg,.png,.mp4'"></add-post-card>
                </div>

                <div class="col-md-4 col-sm-4" ng-show="account.canUseSuggest == 1">
                    <suggests-card state="vm.state" account="account"></suggests-card>
                </div>

            </div>
        </div>

        <div class="row" style="padding-top: 20px;" ng-show="accountMedia.length > 0">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12" infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.loadImagesBusy' infinite-scroll-distance='1'>
                <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat-start="futureMedia in accountMedia">
                    <post-card future-media="futureMedia" edit-post="vm.editPost" repeat-post="vm.repeatPost" confirm-cancel-post="vm.confirmCancelPost" cancel-post="vm.cancelPost" confirm-delete-post="vm.confirmDeletePost" delete-post="vm.deletePost"></post-card>
                </div>
                <div class="clearfix" ng-if="($index+1)%3==0"></div>
                <div ng-repeat-end=""></div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;" ng-hide="accountMedia.length > 0">
            <div class="col-lg-12">
                <h1 class="font-bold text-center">
                    <i class="twa twa-3x twa-rocket"></i>
                </h1>
                <h3 class="font-bold text-center">
                    {{"START_UPLOADING" | translate}}.
                </h3>

                <div class="error-desc text-center">
                    {{"ALL_UPLOADED_POSTS_WILL_BE_DISPLAYED_HERE" | translate}}.
                </div>
            </div>
        </div>
    </div>

</div>
