<!-- Password strength estimator -->
<span ng-if="passwordScore == 0 && password" class="help-block m-b-none text-danger">{{"PASSWORD_HINT_WEAK" | translate}} <i class="twa twa-cold-sweat"></i></span>
<span ng-if="passwordScore == 1 && password" class="help-block m-b-none text-danger">{{"PASSWORD_HINT_STILL_WEAK" | translate}} <i class="twa twa-fearful"></i></span>
<span ng-if="passwordScore == 2 && password" class="help-block m-b-none text-warning">{{"PASSWORD_HINT_GUESSABLE" | translate}} <i class="twa twa-worried"></i></span>
<span ng-if="passwordScore == 3 && password" class="help-block m-b-none text-info">{{"PASSWORD_HINT_GOOD" | translate}} <i class="twa twa-sweat-smile"></i></span>
<span ng-if="passwordScore == 4 && password" class="help-block m-b-none text-success">{{"PASSWORD_HINT_PERFECT" | translate}} <i class="twa twa-wink"></i></span>
